@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');



.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.title{
    font-size: 42px;
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    color: #cc1dbdcb;
    text-shadow: 0  2px  0   #8b1577b7,
                0  4px  0   #8b157b8f,
                0  6px  0   #8b15819c, 
                0  8px  0   #8b1581, 
                0 10px  0   #8b1581,
                0 12px  0   #8b1581,
                3px 8px 15px rgba(0,0,0,0.1),
                3px 8px  5px rgba(0,0,0,0.3);
}



.buton{
    background: linear-gradient(#d416bbbd,#2e3ed167);
    border: none;
    padding: 5px 15px;
    margin: 20px;
    font-size: 25px;
    border-radius: 10px;
    font-family: 'Amatic SC', cursive;
    font-weight: 800;
    text-align: center;
}